
<body>
  
  <h1>SUCURSALES</h1>
  <div class="container">
      <div class="row">
          <!-- flex-container -->
          <div class="col-md-12 flex-container">
              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-violet">
                              <i class="fa fa-pie-chart fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/mc.png">
                          </div>
                          <div class="card-back bg-violet">
                              <h2>MC Donald</h2>
                              <p class="title">Zona 5, Guatemala</p>
                              <p class="title">Zona 8, Guatemala</p>
                              <p class="title">Zona 7, Guatemala</p>
                              <p class="title">Zona 1, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- /flex-item -->

              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-magenta">
                              <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/campero.jpg">
                          </div>
                          <div class="card-back bg-magenta">
                              <div class="card-back bg-violet">
                                  <h2>Pollo campero</h2>
                              <p class="title">Zona 2, Guatemala</p>
                              <p class="title">Zona 10, Guatemala</p>
                              <p class="title">Zona 11, Guatemala</p>
                              <p class="title">Zona 3, Guatemala</p>
                              </div>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- /flex-item -->

              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-blue">
                              <i class="fa fa-sun-o fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/Burger.png">
                          </div>
                          <div class="card-back bg-blue">
                              <h2>Burger King</h2>
                              <p class="title">Zona 4, Guatemala</p>
                              <p class="title">Zona 6, Guatemala</p>
                              <p class="title">Zona 7, Guatemala</p>
                              <p class="title">Zona 9, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- /flex-item -->

              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-green">
                              <i class="fa fa-bar-chart fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/taco.jpg">
                          </div>
                          <div class="card-back bg-green">
                              <h2>TacoBell</h2>
                              <p class="title">Zona 3, Guatemala</p>
                              <p class="title">Zona 5, Guatemala</p>
                              <p class="title">Zona 8, Guatemala</p>
                              <p class="title">Zona 9, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- flex-item -->
          </div>
          <!-- /flex-container -->
      </div>
  </div>


  <div class="container">
      <div class="row">
          <!-- flex-container -->
          <div class="col-md-12 flex-container">
              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-violet">
                              <i class="fa fa-pie-chart fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/pinulito.jpg">
                          </div>
                          <div class="card-back bg-violet">
                              <h2>Pollo pinulito</h2>
                              <p class="title">Zona 7, Guatemala</p>
                              <p class="title">Zona 4, Guatemala</p>
                              <p class="title">Zona 2, Guatemala</p>
                              <p class="title">Zona 1, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- /flex-item -->

              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-magenta">
                              <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/granjero.jpg">
                          </div>
                          <div class="card-back bg-magenta">
                              <h2>Pollo granjero</h2>
                              <p class="title">Zona 8, Guatemala</p>
                              <p class="title">Zona 6, Guatemala</p>
                              <p class="title">Zona 4, Guatemala</p>
                              <p class="title">Zona 3, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-blue">
                              <i class="fa fa-sun-o fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/dom.jpg">
                          </div>
                          <div class="card-back bg-blue">
                              <h2>Domino´s pizza</h2>
                              <p class="title">Zona 10, Guatemala</p>
                              <p class="title">Zona 4, Guatemala</p>
                              <p class="title">Zona 2, Guatemala</p>
                              <p class="title">Zona 1, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- /flex-item -->

              <!-- flex-item -->
              <div class="flex-item">
                  <div class="flex-item-inner">
                      <!-- card -->
                      <a href="#">
                          <div class="card-front bg-green">
                              <i class="fa fa-bar-chart fa-3x tile-icon icon-white"></i>
                              <img src="../../../assets/little.png">
                          </div>
                          <div class="card-back bg-green">
                              <h2>Little Caesars</h2>
                              <p class="title">Zona 6, Guatemala</p>
                              <p class="title">Zona 9, Guatemala</p>
                              <p class="title">Zona 5, Guatemala</p>
                              <p class="title">Zona 10, Guatemala</p>
                          </div>
                      </a>
                      <!-- /card -->
                  </div>
              </div>
              <!-- flex-item -->
          </div>
          <!-- /flex-container -->
      </div>
  </div>


</body>
